@{
	
	Layout = "~/Views/Shared/MyLayout.cshtml";
	
	ViewData["Title"] = "Home Page";
}



<a href="http://localhost:57678/Identity/Account/Login">Login</a>
<></>
<a href="http://localhost:57678/Identity/Account/Register">Register</a>
