@model IEnumerable<InteractiveGallery.Core.GalleryAggregate.Gallery>

@{
	ViewData["Title"] = "Index";
    Layout = "~/Areas/UserArea/Views/Shared/MyLayout.cshtml";
}

<h1>Galleries</h1>
<br>
<br>
<div class="row">
	@foreach (var item in Model)
	{

		<div class="col-md-6 col-lg-3">
			<div class="card">
				<img class="img-fluid" src="../images/big/img1.jpg" alt="">
				<div class="card-body">
					<h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
					<p class="card-text">Artist @Html.DisplayFor(modelItem => item.InitiatorArtist.Name)</p>
					<p class="card-text">Theme @Html.DisplayFor(modelItem => item.Theme)</p>
				</div>
			</div>
		</div>
	}
</div>
