@model InteractiveGallery.Core.GalleryAggregate.GalleryValueObject
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/UserArea/Views/Shared/MyLayout.cshtml";
}
<div>Visit Gallery</div>
<div>@Model.Name</div>